@import "../../shared/_breakpoints.module.scss";
@import "../../shared/_color.module.scss";
@import "../../shared/_font.module.scss";
@import "../../shared/_animation.module.scss";

.LandingWrap {
    
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  
  @include respond(phone) {
    background-image: url('../../assets/Img/Landing/landing-phone.png');
    background-size: cover;
}

  @include respond(tab-portrait) {
      background-image: url('../../assets/Img/Landing/landing-tablet.png');
      background-size: cover;
  }
  @include respond(tab-landscape) {
      background-image: url('../../assets/Img/Landing/landing-desktop.png');
      background-size: auto;
  }
  @include respond(desktop) {
      background-image: url('../../assets/Img/Landing/landing-desktop.png');
      background-size: auto;

  }
  @include respond(lrg-desktop) {
      background-image: url('../../assets/Img/Landing/landing-lrg-desktop.png');
      background-size: auto;

  }

  transition-duration: 1000ms;
  transition-timing-function: ease-out;

}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


header {
  align-self: flex-start;
  width: fit-content;
  margin: 20px;
  color: $TextColor;
  font-family: $Font-Title;

  h1 {
    opacity: 0;
    animation: slideInLeft 2s ease-out forwards;
    animation-delay: 1s;

    margin: 0;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: $Font-Size-Title;

    
    @include respond(desktop) {
        font-size: $Font-Size-Title-Large;
    }
  }

  h1:nth-child(1) {
    position: relative;
    top: 3vh;
  }

  h1:nth-child(2) {
    /* text-shadow: -1px -1px 0 $TextColor, 1px -1px 0 $TextColor,
      -1px 1px 0 $TextColor, 1px 1px 0 $TextColor; */
    color: none;
  }

  .yellowUnderline {
    border-top: 9px solid $BorderColor;
    width: 0;
    animation: widthGrow 1s ease-out forwards;
  }

  ul {
    padding: 0;
    margin: 10px 3px;
    opacity: 0;
    font-size: 2rem;
    animation: slideInLeft 2s ease-out forwards;
    animation-delay: 1s;

    li {
      text-decoration: none;
      list-style-type: none;
    }
  }
}

.ViewMyWork {
  margin: 0 auto;
  animation: bobbingText 2s ease-out infinite;
  border: solid white 4px;
  padding: 10px 25px;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    
    .arrowDown {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: relative;
      top: -0.35vh;
      padding: 10px;
      width: 30px;
      height: 38px;
    }
    .arrowDown:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-top: 3px solid #ffffff;
      border-right: 3px solid #ffffff;
      transform: rotate(135deg);
    }

    p {
      margin: 0;
      color: $TextColor;
      font-family: $Font-Text;
      font-size: $Font-Size-Text;
      font-weight: normal;
      letter-spacing: 10px;
    }
  }
    @include respond(phone){
      display: none;
    }
}

@include respond(tab-portrait) {
  header {
    position: relative;
    top: -5vh;
    left: 5vh;

    h1 {
    font-size: $Font-Size-Title-Large;
    }

  }
}
