@import "../../../shared/_breakpoints.module.scss";
@import "../../../shared/_color.module.scss";
@import "../../../shared/font.module.scss";



.ContactForm {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

form {
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-portrait) {
        width: 50vw;
    }

    h1 {
        font-family: $Font-Title;
        letter-spacing: 5px;
        color: $BorderColor;
        font-weight: normal;
        font-size: $Font-Size-Header;
        margin: 10px;
    }
    
    .Form_textarea {

        margin: 5% 0;
        position: relative;
        width: 60%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

    .Label_textarea {
        margin: 10px 0;
        width: 50%;
        color: white;
        font-family: $Font-Text;
        
    }

    
    .Content_textarea {
        position: absolute;
        transition: all 0.3s ease;
        top: -1%;
        left: 0;
    }

        textarea {
            margin: 5% 0;
            height: 5vh;
            background-color: transparent;
            width: 100%;
            border-style: none; 
            resize: none;
            border: 1px solid #3D4F68;
            transition: all 0.3s ease;
            outline: none;
            overflow: auto;
    
            color: white;
            font-family: $Font-Text;
            font-size: 0.8rem;
    
            &:focus {
                height: 15vh;
    
                border: 1px solid #E34B9E;
            }
            &:valid {
                height: 15vh;
            }
        }

        textarea:focus +  .Label_textarea .Content_textarea, textarea:valid + .Label_textarea .Content_textarea {
            font-size: 0.9rem;
            color: #3D4F68;
            transform: translateY((-50%));

        }
    }
    

    .Form_input {
        position: relative;
        width: 60%;
        height: 6vh;
        overflow: hidden;
        margin-bottom: 10px;
        span {
            color: white;
            font-family: $Font-Text;
        }

        input {
            width: 100%;
            height: 100%;
            border: none;
            box-sizing: border-box;
            padding-top: 35px;
            font-size: 0.8rem;
            background-color: transparent;
            color: white;
            outline: none;
        }
        
        label {
            position: absolute;
            bottom: 0px;
            left: 0%;
            height: 100%;
            width: 100%;
            pointer-events: none;
            border-bottom: 1px solid #3D4F68;
        }

        label::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 100%;
            width: 100%;
            border-bottom: 2px solid #E34B9E;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }

        .Content_input {
            position: absolute;
            bottom: 5px;
            left: 0px;
            transition: all 0.3s ease;
        }

        input:focus + .Label_input .Content_input, input:valid + .Label_input .Content_input{
            transform: translateY((-130%));
            font-size: 0.9rem;
            color: #3D4F68;
        }

        input:focus + .Label_input::after {
            transform: translateX(0%);
        }
        
    }

    button {
        background-color: transparent;
        padding: 2% 5%;
        margin: 10px auto;
        letter-spacing: 0.5vh;
        color: white;
        font-family: $Font-Title;
        font-size: 0.8rem;
        border: 2px solid $BorderColor;
        transition: all 0.2s ease;

        &:focus, &:active {
            outline: none;
        }

        &:hover {
            color: $BackgroundColor;
            background-color:$BorderColor;
        }
    }
}