$BackgroundColor: #11151B; // 202833
$Secondary-BackgroundColor: #ececec;
$TextColor: white;
$Secondary-TextColor: #202833;
$BorderColor: #ffd20a;
$IconColor: #3d4f68;
$Secondary-IconColor: #ffd20a;
$Third-Color: #E34B9E;