@import "../../shared/_breakpoints.module.scss";
@import "../../shared/_color.module.scss";


.SocialSvgStyling {
  a {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  svg {
    
    transition: all linear 0.2s;

    @include respond(phone) {
      height: 4.5vh;
    }
    @include respond(tab-portrait) {
      height: 3vh;
    }
    @include respond(tab-landscape) {
      height: 3vh;
    }
    @include respond(desktop) {
      height: 3vh;
    }

    path,
    rect {
      fill: transparentize($TextColor, 0.6);
    }

    &:hover {
      transform: translateY(-0.5vh);

      path,
      rect {
        fill: $Secondary-IconColor;
      }
    }
  }
}

.Github {
  svg {
    path,
    rect {
      stroke: transparentize($TextColor, 0.6);
      fill: none;
    }
  }
  &:hover {
    svg {
      transform: translateY(-0.5vh);
      path,
      rect {
        stroke: $Secondary-IconColor;
        fill: none;
      }
    }
  }
}

.Close {
position: absolute;
right: 0px;
margin: 20px;
transition: all linear 0.2s;

&:hover {
  transform: scale(1.2);
}
}