@import './shared/_breakpoints.module.scss';

.cursor {

  @media (pointer: fine) {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  
  z-index: 1;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  opacity: 0.5;
  background: none !important;
  pointer-events: none;

  }
}

